<!-- <div class="row head">
  <div class="col-11 float-left" >
    <h2> Configure Honeypot</h2>
  </div>
  <div class="col-1" (click)="closeButton('simple')">
    <i class="fa fa-close float-right"></i>
  </div>

</div>
<hr color="grey">



<div class="modal-content background">

  <div class="modal-body">
    <form [formGroup]="nodeForm">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="fill" class="ml-3 mt-3">
              <mat-label class="hint-color">Node Type</mat-label>
              <mat-select formControlName="node_type">
                <mat-option value="LIHP">LIHP</mat-option>
                <mat-option value="HIHP">HIHP</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill" class="ml-3 mt-3">
              <mat-label class="hint-color">Node Hardware Type</mat-label>
              <mat-select formControlName="node_hw_type">
                <mat-option value="desktop">Desktop</mat-option>
                <mat-option value="raspberry">Raspberry</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field appearance="fill" class="ml-3 mt-3">
              <mat-label class="redd">Honeypot Type</mat-label>
              <mat-select formControlName="hp_type">
                <mat-option class="chipbg" *ngFor="let hp_type of hp_type; let i =  index" [value]="hp_type"
                  (click)="getHpProfile(hp_type.key)">
                  {{hp_type.key}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill" class="ml-3 mt-3">
              <mat-label class="redd">Honeypot Profile<i *ngIf="this.searchloader"
                  class="fa fa-spinner fa-spin smol"></i></mat-label>
              <mat-select formControlName="hp_profile">
                <mat-option class="chipbg" *ngFor="let hp_profile of hp_profile; let i =  index" [value]="hp_profile"
                  (click)="getImage(hp_profile.key)">
                  {{hp_profile.key}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill" class="ml-3 mt-3">
              <mat-label class="redd">Image ID<i *ngIf="this.searchloader_image"
                  class="fa fa-spinner fa-spin smol"></i></mat-label>
              <mat-select formControlName="hp_image">
                <mat-option class="chipbg" *ngFor="let hp_image of hp_image; let i =  index" [value]="hp_image"
                  (click)="getService(hp_image.key)" >
                  {{hp_image.key}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <div *ngIf="this.searchloaderxl" class="row p-1" >
              <div class="loader text-black" *ngIf="this.searchloaderxl" >
              </div>
            </div>

            <mat-paginator [hidden]="isShowDiv" [pageSizeOptions]="[5, 10, 25, 50, 100]"
              aria-label="Select page of users" showFirstLastButtons>
            </mat-paginator>
            <table [hidden]="isShowDiv" mat-table [dataSource]="dataSource" class="table">

              <ng-container matColumnDef="protocol">
                <th mat-header-cell *matHeaderCellDef class="tab-header"> Protocol </th>
                <td mat-cell *matCellDef="let row"> {{row.protocol}} </td>
              </ng-container>

              <ng-container matColumnDef="port">
                <th mat-header-cell *matHeaderCellDef class="tab-header"> Port</th>
                <td mat-cell *matCellDef="let row"> {{row.port}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="tab-header"> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef class="tab-header"> Description </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
              </ng-container>

              <ng-container matColumnDef="vulnerability_name">
                <th mat-header-cell *matHeaderCellDef class="tab-header"> Vuln Name </th>
                <td mat-cell *matCellDef="let row"> {{row?.vulnerability?.vulnerability_name}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">No Data Found</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <button type="button" class="btn configg">Submit Configuration</button>
        </div>
      </div>
    </form>
  </div>
</div> -->