.map-container {
    position: relative;
    top: 2rem;
    // border: solid 1px;
}

.map-frame {
    height: 100%;
}

#threat-map {
    height: 400px;
    width: 97%;
    border: 2px solid white;
}

.h30{
    height: 30px;
}

.map-div {
    width: 100%;
    padding: 10px;
    margin-top: 2px;
}

::ng-deep {
    .ring-container {
        position: absolute;
    }

    .circle {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
    }

    .ringring {
        border: 3px solid red;
        border-radius: 30px;
        height: 20px;
        width: 20px;
        position: absolute;
        left: -5px;
        top: -5px;
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0.0
    }

    @keyframes pulsate {
        0% {
            transform: scale(0.1, 0.1);
            opacity: 0.0;
        }

        50% {
            opacity: 1.0;
        }

        100% {
            transform: scale(1.2, 1.2);
            opacity: 0.0;
        }
    }

    .fadeOut {
        animation: fadeOutText 2s ease 1s forwards;
      }
  
      @keyframes fadeOutText {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
    }
}

.table th {
    color: #fdb927;
    background-color: black;
    border: none;
    padding-bottom: 20px;
    font-size: large;
    vertical-align: middle;
    align-items: left;

}

.table td {
    color: white;
    background-color: #181F32;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid grey;
}

.flag-img {
    width: 20p;
    height: 23px;
    width: auto;
    padding-right: 5px
}

.filter {
    display: block;

  }
  
  .hed {
    margin-top: 20px;
    // height:40px;
    
    width: 100%;
  }
  .hed1 {
    
    height:40px;
    margin-left: 20px;
    width: 100%;
  }

   .mat-sort-header {
    color: #fdb927 !important;
    font-size: unset;
}
.map-frame{
    height: fit-content !important;
}

::ng-deep {
    .legend {
        line-height: 18px;
        color: #555;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding: 6px 8px;
    }

    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    .table-sec{
        height: 250px;
        overflow-y: auto;
        margin-bottom: 10px;
        // padding: 0.5rem;
        // padding-top:0px ;
        padding: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .imgg{
        height:18px;
        width:34px;
    }
    .map-popup {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .map-popup p {
        margin: 0 0 5px;
        color: #777;
    }
}