<body class="bg-purple" (contextmenu)="onRightClick($event)">

    <div class="stars">
        <div class="custom-navbar">
            <div class="brand-logo">
                <img width="50px" height="50px" src="{{assetPath}}/images_and_logos/cdac_logo.png" alt="C-DAC Logo">
                <img class="ml-1" width="110px" height="53px" src="{{assetPath}}/images_and_logos/ctmslogo1.png"
                    alt="CTMS Logo">
            </div>

        </div>
        <div class="central-body">
            <img class="image-404" src="{{assetPath}}/img/404.svg" width="300px">
            <a href="#/dashboard" (click)="navigation('')" class="btn-go-home">GO BACK HOME</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="{{assetPath}}/img/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="{{assetPath}}/img/earth.svg" width="100px">
                <img class="object_moon" src="{{assetPath}}/img/moon.svg" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="{{assetPath}}/img/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

    </div>

</body>