th.mat-header-cell {
    text-align: left;
  }
  .gg{
    height:60px;
  }
  td, th {
    color: #fff !important;
    }
    /* Structure */
    table {
      width: 100%;
    }
    .table th{
      color: #000000;
      background-color: #e7e7e7;
      border: none;
      padding-bottom:20px;
      align-items: left !important;
      vertical-align: middle;
    }
    .load{
      padding:10px;
       height:700px;
    }
    .table td{
      color: black !important;
      background-color: #fff;
      padding: 10px;
      font-size: 15px;
      border:none;
      align-items: center !important;
      border-bottom: 1px solid grey;
    }
.loader {
    border: 20px solid #000000;
    border-radius: 50%;
    border-top: 20px solid grey;
    width: 110px;
    height: 110px;
    margin-left:45% !important;
    margin-top:80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
::ng-deep .mat-paginator {
    color: #000000;
    font-size: medium;
    
    
    background-color: transparent !important;
  }
  ::ng-deep .mat-paginator-container {
    color: #000000;
    font-size: medium;
    
    background-color: transparent !important;
  }

  .inp{
    height:40px;
    width:100%;
    border-radius: 4px;
   }
   mat-option {
    background: #fff !important;
    color: black;
  }

  .hedd {
    margin-left: -20px;
    
     
     width: 100%;
     margin-bottom: 10px;
   }
  .hed1 {
    
    height:40px;
    
    width: 100%;
  }
  
  .hed3{
    margin-left: 5px;
  }

  .mat-sort-header {
    color:#000000 !important;
  }