.label-sec{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
  }
  .btn{
    margin-left: auto;
    margin-right: auto;
  }
  .field-icon{
    
    font-size: 18px;
    color: black;
    padding: 14px;
    width: 50px;
  }
  input{
    width: 80%;
    // padding: 0px;
    // margin: 0px;
    // border: none;
  }
  .pas{
    height:35px;
  }
  .fnt1{
    font-size: 16px;
     cursor: pointer;
  }
  .fnt2{
    font-size: 18px;
  }