.profile-div{
    color: black !important;
   
}
table td{
    font-size: larger;
    padding: 10px;
    color: black;
}
table th{
    font-size: larger;
    padding: 10px;
}
.mat-dialog-container{
    z-index: 999 !important;
}
.orgni{
  height:120px;
  overflow: auto;
  width:100%;
}
.vt{
    vertical-align: top;
}