.inline-form{
    display: flex;
    flex-flow: wrap;
}

.background {
  margin-top: 10px;
  width: -webkit-fill-available;
  padding-top: 10px;
}

.btn{
    width:auto;
    background-color: #daa520;
}
.h32{
  height: 32px;
}
label{
  color: black;
}
.mat-sort-header {
  color: #000000 !important;
  font-size: unset;
}
.hed {
  width: 100%;
}
.hed1 {
  height:40px;
  width: 100%;
}
.filter {
  width: 50px !important;
}
.lod4{
  padding:10px;
   height:400px;
}
.panel-title{
    font-size: larger;
      font-family: sans-serif;
  }
  .panel{
    // margin-left: -10px;
    // margin-right: -10px;
    padding: 5px 30px;
    border-bottom: 0;
}
  input{
    margin: 0px;
  }
  tr.mat-row, tr.mat-footer-row, tr.mat-header-row {
    height: auto;
  
}
.mat-header-cell {
    font-size: 14px;
}
.loader {
  border: 20px solid #000000;
  border-radius: 50%;
  border-top: 20px solid grey;
  width: 110px;
  height: 110px;
  margin-left:45% !important;
  margin-top:80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.table th{
  color: #000000;
  background-color: #e7e7e7;
  border: none;
  padding: 10px;
  vertical-align: middle;
}
.evt{
  color: black;
}
.table td{
  color: black !important;
  background-color: #fff;
  padding: 10px;
  font-size: 15px;
  border:none;
  border-bottom: 1px solid grey;
}
input.bigbox {
  height: 15px;
  width: 15px;
}
.filterr td {

  font-size: medium;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

::ng-deep .mat-paginator {
  color: #000000;
  font-size: medium;
  
  
  background-color: transparent !important;
}
::ng-deep .mat-paginator-container {
  color: #000000;
  font-size: medium;
  
  background-color: transparent !important;
}

.jsonTable{
  overflow-x: scroll;
}